<p>&copy; <%= new Date().getFullYear() %> 
<i class="mdi-hardware-keyboard-arrow-left" style="font-size: 10pt;"></i>/<i class="mdi-hardware-keyboard-arrow-right" style="font-size: 10pt;"></i> with <i class="mdi-action-favorite icon-material-red" style="font-size: 10pt;"></i>
<% if (config.author){ %>
by <a href="<%= config.url %>"><%= config.author %></a>
  <% }  %>
 | 由<a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>强力驱动
</p>
