<p>&copy; <%= new Date().getFullYear() %> 
<i class="icon-material-keyboard-arrow-left" style="font-size: 10pt;"></i>/<i class="icon-material-keyboard-arrow-right" style="font-size: 10pt;"></i> with <i class="icon icon-material-favorite icon-material-red" style="font-size: 10pt;"></i>
<% if (config.author){ %>
by <a href="<%= config.url %>"><%= config.author %></a>
  <% }  %>
 with the help of <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>
</p>
